{%extends "layout.html"%}
{%block main%}
<ol class="breadcrumb">
    <li><a href="/">管理首页</a></li>
    <li><span>成功提示</span></li>
</ol>
<!-- 下面显示的是一个错误的提示信息  BS中头部 -->

<div class="panel panel-default panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">成功提示</h3>
  </div>
  <div class="panel-body">
    {{message}}
  </div>
  <div class="panel-footer">
  	<a href="{{url}}">点击这里进行跳转(两秒后自动跳转)</a>
  </div>
</div>
<script>
    setTimeout(() => {
        location.href = "/";
    }, 2000);
</script>
{% endblock %}